@import '/src/global/Global.scss';

.modal {
    width: 450px;
    margin: auto;
    margin-top: 100px;
    border-radius: $bigRadius;
    box-shadow: $shadow1;
    overflow: hidden;
    background-color: $gray10;
    z-index: 999;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.modal-content {
    padding: 15px;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

.window-content {
    width: 100%;
}

.modal.closing {
    opacity: 0;
}