$gray1: #262e39;
$gray2: #39404d;
$gray3: #565d69;
$gray4: #6d7481;
$gray5: #8a8f9d;
$gray6: #acb0ba;
$gray7: #cbcfd8;
$gray8: #dfe2e8;
$gray9: #eaecf0;
$gray10: #f9fafb;

$red1: #fad2d2;
$red2: #e93838;
$red3: #5c0404;
$red4: #db4d46;

$green1: #d6f5d6;
$green2: #24c94d;
$green3: #044104;
$green4: #65a965;

$blue1: #d6dff5;
$blue2: #0a4d8a;
$blue3: #06294a;
$blue4: #2f6aa1;

$yellow1: #fafad2;
$yellow2: #f1dd26;
$yellow3: #af8000;
$yellow4: #f9d165;

$primary: #0675cf;
$primary-light: #4f7bf5;

$bigRadius: 7px;
$smallRadius: 4px;

$shadow1: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
$shadow2: 0 3px 5px 0 hsla(0, 0%, 0%, 0.15);

$longDelay: 0.5s;
$shortDelay: 0.1s;

@font-face {
    font-family: "IBM Plex Sans";
    src: url("./fonts/IBM-Plex-Sans/IBMPlexSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("./fonts/IBM-Plex-Sans/IBMPlexSans-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("./fonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("./fonts/IBM-Plex-Sans/IBMPlexSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./fonts/IBM-Plex-Mono/IBMPlexMono-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./fonts/IBM-Plex-Mono/IBMPlexMono-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./fonts/IBM-Plex-Mono/IBMPlexMono-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./fonts/IBM-Plex-Mono/IBMPlexMono-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Material Icons";
    font-weight: 400;
    src: url("./fonts/MaterialIconsOutlined-Regular.otf");
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    text-rendering: geometricPrecision;
}

*::-webkit-scrollbar-corner {
    background-color: unset;
}

*::-webkit-scrollbar {
    width: 18px;
    height: 18px;
    border-radius: 100px;
    // border: 5px solid transparent;
    // background-clip: padding-box;
}

*::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-clip: padding-box;
    border: 6px solid transparent;

    box-shadow: inset 0 0 0 10px rgba(150, 150, 150, 0.25);
}

*::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 0 10px rgba(150, 150, 150, 0.5);
}

.top-space {
    margin-top: 0.5em;
}

.spacer-n2 {
    margin-bottom: -0.5em;
}

.spacer-1 {
    margin-top: 0.25em;
}

.spacer-15 {
    margin-top: 0.5em;
}

.spacer-2 {
    margin-top: 1em;
}

.spacer-3 {
    margin-top: 2.5em;
}

.spacer-4 {
    margin-top: 4em;
}

p {
    margin: 0;
    color: $gray2;
    line-height: 1.4;
    font-size: 16px;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    color: $gray3;
    text-transform: uppercase;
    margin-top: 0;

    display: flex;
    align-items: center;
}

h2::after {
    content: "";
    flex: 1;
    margin-left: 0.5em;
    height: 0;
    border-bottom: 2px solid $gray8;
}

h3 {
    font-size: 15px;
    font-weight: 400;
    color: $gray4;
    margin-top: -0.8em;
    margin-bottom: 0.8em;
}
