@import '/src/global/Global.scss';

.cube-container {
    width: var(--size);
    height: var(--size);
    perspective: calc(var(--size) * 4);
    margin: auto;
    padding: calc(var(--size) / 2.5);
    transform-origin: top center;

    --size: 150px;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    text-align: center;
    user-select: none;
}

.cube_face {
    position: absolute;
    width: var(--size);
    height: var(--size);
    font-size: calc(var(--size) / 3);
    font-family: "IBM Plex Mono";
    font-weight: bold;
    text-align: center;
    border:var(--g6) solid 3px;
    box-sizing: border-box;
    color: var(--g3);
}

.cube-number-circle {
    background-color: $gray8;
    width: calc(var(--size) / 2.5);
    height: calc(var(--size) / 2.5);
    line-height: calc(var(--size) / 2.45);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    text-indent: -.03em;
    
}

.cube_face-front {
    transform: rotateY(0deg) translateZ(calc(var(--size) / 2));
    background-color: #155ef066;
}
.cube_face-right {
    transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
    background-color: #0df32166;
}
.cube_face-back {
    transform: rotateY(180deg) translateZ(calc(var(--size) / 2));
    background-color: #fc181866;
}
.cube_face-left {
    transform: rotateY(-90deg) translateZ(calc(var(--size) / 2));
    background-color: #ffd00066;
}
.cube_face-top {
    transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
    background-color: #af07f166;
}
.cube_face-bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
    background-color: #0beff766;
}

.cube {
    transform: rotateX(-50deg) rotateY(30deg) rotateZ(0deg);
}