@import "/src/global/Global.scss";

.RecentTags {
    table {
        tr {
            color: $gray2;

            &:hover {
                color: $primary;
                font-weight: 400;

                .icon {
                    color: $primary-light;
                }

                .action-icons {
                    visibility: visible;
                }
            }
        }
    }
}