@import "../global/Global.scss";

.modal {
    top:0;
    left:0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: blue;
    position: fixed;
    background-color: #00000088;
    animation: fadeIn 0.2s;
    transition: opacity 0.2s;

    .modal-content {
        width: 450px;
        margin: auto;
        margin-top: 100px;
        border-radius: $bigRadius;
        background-color: $gray10;
        box-shadow: $shadow1;
        overflow: hidden;
    }

    .window-content {
        width: 100%;
    }
}

.modal.closing {
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}