@import "../global/Global.scss";

.react-grid-item.react-grid-placeholder {
    background: $gray1 !important;
}

.react-resizable-handle {
    transform: none !important;
    -webkit-transform: none !important;
    width: 12px !important;
    height: 12px !important;
    padding: 0 !important;
    opacity: 0;
}