@import '/src/global/Global.scss';

.connection-window {
    width: 350px;
    border-radius: 0;
    height: 100vh;
    transition: width 0.2s ease-in-out;

    border-right: 8px solid $green2;

    &.red {
        border-right: 8px solid $red2;
    }

    & .window-content {
        box-sizing: border-box;
        width: 342px;
        overflow: hidden;
    }

    &.collapsed {
        width: 37px;

        & .window-content {
            display: flex;
            flex-direction: column;
            background-color: $gray8;
            height: 100%;
            color: $gray3;
            width: 30px;
            padding: 5px;
            float: right;

            .small-connection-details {
                box-sizing: border-box;
                padding: 7px 0;
                flex-grow:1;
                display: block;
                writing-mode: vertical-rl;
                transform: rotate(-180deg);
                margin-left: -0.04em;
                color: $gray4;

                .title {
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-bottom: 10px;
                    float: right;
                }
                .bottom {
                    display: inline-block;
                }
            }
        }
    }
}